.conteudo {
	-fx-background-color: #181D31;
	-fx-text-fill: #eee;
	-fx-font-size: 26px;
	-fx-font-family: Alkatra;
}

.labelConversor {
	-fx-text-fill: #eee;
	-fx-font-size: 30px;
}

.label {
	-fx-text-fill: #eee;
}

.labelText {
	-fx-text-fill: #eee;
	-fx-font-size: 20px;
	-fx-background-color: #181d31;
}

.labelResultado {
	-fx-text-fill: #eee;
	-fx-font-size: 44px;
}

.caixaBox {
	-fx-background-color: #4E6E81;
	-fx-font-size: 16px;
}

.conversorBotao {
	-fx-background-color: #4E6E81;
	-fx-font-size: 22px;
	-fx-text-fill: #eee;
}